# *Recommender System* : Sistem Rekomendasi Movie Berdasarkan Tipe *Content Based Filter*

Analisis oleh [Shelly Victory](https://www.dicoding.com/users/victorysl)

*Dataset*: [MovieLens (small)](https://www.kaggle.com/sengzhaotoo/movielens-small)

## 1. Pendahuluan
Pada proyek ini dibuat sistem rekomendasi movie dengan tipe *content based filter* pada situs MovieLens sebagai tugas *submission* ahir pada kelas *Machine Learning* Terapan.

## 2. Data *Understanding*

### 2.1. Mengimpor Pustaka *Python* yang  Diperlukan

In [1]:
import numpy as np
import os
import pandas as pd
import tensorflow as tf
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from google.colab import drive
from sklearn.metrics import precision_score

### 2.2 Data *Loading*
Mengunduh dan mendeksripsikan *dataset*.

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
links = pd.read_csv('/content/drive/MyDrive/dataset/movie/links.csv')
movies = pd.read_csv('/content/drive/MyDrive/dataset/movie/movies.csv')
tags = pd.read_csv('/content/drive/MyDrive/dataset/movie/tags.csv')
ratings = pd.read_csv('/content/drive/MyDrive/dataset/movie/ratings.csv')

print('Jumlah data link movies: ', len(links.tmdbId.unique()))
print('Jumlah data judul movies: ', len(movies.title.unique()))
print('Jumlah data movie yang diberikan tag: ', len(tags.movieId.unique()))
print('Jumlah data pengguna yang setidaknya memberikan 1 kali penilaian: ', len(ratings.userId.unique()))

Jumlah data link movies:  9113
Jumlah data judul movies:  9123
Jumlah data movie yang diberikan tag:  689
Jumlah data pengguna yang setidaknya memberikan 1 kali penilaian:  671

## 3. *Univariate Exploratory Data Analysis*
Secara keseluruhan, variabel-variabel yang terdapat dalam *dataset* meliputi: <br>
a. links: merupakan *dataset* yang berisikan tautan menuju sumber atau *database* untuk mengakses detail movie. <br>
b. movies: merupakan *dataset* yang berisikan judul dan genre movie. <br>
c. ratings: merupakan penilaian *user* terhadap movie. <br>
d. tags: merupakan penanda sistem online pada movie. <br>

Pada ke-4 *dataset* tersebut, fitur userId merujuk pada movieId dan data yang sama.

### 3.1.  *Links Variable*

In [4]:
links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9120   162672  3859980  402672.0
9121   163056  4262980  315011.0
9122   163949  2531318  391698.0
9123   164977    27660  137608.0
9124   164979  3447228  410803.0

[9125 rows x 3 columns]

Pada *dataset* links, terdapat beberapa fitur yaitu: <br>
- movieId: ID movie yang bersifat unik pada tiap judul. <br>
- Internet Movie Database ID (imdbId): Situs Web yang menyediakan informasi mengenai movie.<br>
- The Movie Database ID (tmdbId): Database yang menyediakan informasi mengenai movie.

In [5]:
print('Banyak data: ', len(links.movieId.unique()))
print('Banyak imdbID yang tersedia: ', len(links.imdbId.unique()))

Banyak data:  9125
Banyak imdbID yang tersedia:  9125

### 3.2. *Movies Variable*

In [6]:
movies

      movieId  ...                                       genres
0           1  ...  Adventure|Animation|Children|Comedy|Fantasy
1           2  ...                   Adventure|Children|Fantasy
2           3  ...                               Comedy|Romance
3           4  ...                         Comedy|Drama|Romance
4           5  ...                                       Comedy
...       ...  ...                                          ...
9120   162672  ...                      Adventure|Drama|Romance
9121   163056  ...              Action|Adventure|Fantasy|Sci-Fi
9122   163949  ...                                  Documentary
9123   164977  ...                                       Comedy
9124   164979  ...                                  Documentary

[9125 rows x 3 columns]

Pada *dataset* movies, terdapat beberapa fitur: <br>
- movieId: ID movie yang bersifat unik pada tiap judul. <br>
- title: judul movie. <br>
- genres: Kategori yang menjadi salah satu dasar pengelompokkan movie.

In [7]:
print('Banyak data judul movie: ', len(movies.title.unique()))
print('Jumlah genre: ', len(movies.genres.unique()))

Banyak data judul movie:  9123
Jumlah genre:  902

### 3.3. *Ratings Variable*

In [8]:
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

Pada *dataset* ratings, fitur-fitur yang dimiliki adalah: <br>
- userId : ID pengguna yang bersifat unik tiap orang. <br>
- movieId: ID movie yang bersifat unik pada tiap judul. <br>
- rating: penilaian yang diberikan pengguna terhadap movie. <br>
- timestamp: stempel waktu. <br>

In [9]:
print('Jumlah user yang memberikan penilaian: ', len(ratings.userId.unique()))
print('Jumlah movie yang diberikan penilaian: ', len(ratings.movieId.unique()))

Jumlah user yang memberikan penilaian:  671
Jumlah movie yang diberikan penilaian:  9066

In [10]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

### 3.4. *Tags Variable*

In [11]:
tags

      userId  movieId                      tag   timestamp
0         15      339  sandra 'boring' bullock  1138537770
1         15     1955                  dentist  1193435061
2         15     7478                 Cambodia  1170560997
3         15    32892                  Russian  1170626366
4         15    34162              forgettable  1141391765
...      ...      ...                      ...         ...
1291     660   135518          meaning of life  1436680885
1292     660   135518            philosophical  1436680885
1293     660   135518                   sci-fi  1436680885
1294     663      260                   action  1438398078
1295     663      260                     Syfy  1438398050

[1296 rows x 4 columns]

Sama seperti *dataset* ratings, fitur-fitur yang dimiliki oleh *dataset* tags adalah: <br>
- userId : ID pengguna yang bersifat unik tiap orang. <br>
- movieId: ID movie yang bersifat unik pada tiap judul. <br>
- tag: penanda sistem online pada movie. <br>
- timestamp: stempel waktu. <br>

In [12]:
print('Banyak data tag movie: ', len(tags.tag.unique()))
print('Jumlah movie yang diberi label: ', len(tags.movieId.unique()))

Banyak data tag movie:  582
Jumlah movie yang diberi label:  689

## 4. *Data Preparation*

### 4.1. *Data Preprocessing*

#### 4.1.1. Menggabungkan Movie

In [13]:
# Menggabungkan Movie
# Menggabungkan seluruh movieID pada kategori movie
movie_all = np.concatenate((
    links.movieId.unique(),
    movies.movieId.unique()
))

# Mengurutkan data dan menghapus data yang sama
movie_all = np.sort(np.unique(movie_all))
print('Jumlah seluruh data movie berdasarkan movieID: ', len(movie_all))

Jumlah seluruh data movie berdasarkan movieID:  9125

#### 4.1.2. Menggabungkan Pengguna

In [14]:
# Menggabungkan seluruh userID berdasarkan kategori user
user_all = np.concatenate((
    ratings.userId.unique(),
    tags.userId.unique()
))

# mengurutkan data dan menghapus data yang sama
user_all = np.sort(np.unique(user_all))
print('Jumlah seluruh data pengguna berdasarkan userID: ', len(user_all))

Jumlah seluruh data pengguna berdasarkan userID:  671

#### 4.1.3. Menggabungkan Rating dengan Judul Movie

In [15]:
all_movie = ratings

In [16]:
# Menggabungkan all_movie dengan dataframe movies berdasarkan movieID
all_movie_name = pd.merge(all_movie, movies[['movieId', 'title']], on='movieId', how='left')

# print dataframe all_movie_name
all_movie_name

        userId  ...                                           title
0            1  ...                          Dangerous Minds (1995)
1            1  ...                                    Dumbo (1941)
2            1  ...                                 Sleepers (1996)
3            1  ...                     Escape from New York (1981)
4            1  ...  Cinema Paradiso (Nuovo cinema Paradiso) (1989)
...        ...  ...                                             ...
99999      671  ...                    Raising Victor Vargas (2002)
100000     671  ...                                   Stevie (2002)
100001     671  ...                     Matrix Reloaded, The (2003)
100002     671  ...                              Whale Rider (2002)
100003     671  ...                               Seabiscuit (2003)

[100004 rows x 5 columns]

#### 4.1.4 Menggabungkan Data dengan Genre Movie

In [17]:
# Menggabungkan all_movie dengan dataframe movies berdasarkan movieID
all_movie_genre = pd.merge(all_movie_name, movies[['movieId', 'genres']], on='movieId', how='left')

# print dataframe all_movie_name
all_movie_genre

        userId  ...                                 genres
0            1  ...                                  Drama
1            1  ...       Animation|Children|Drama|Musical
2            1  ...                               Thriller
3            1  ...       Action|Adventure|Sci-Fi|Thriller
4            1  ...                                  Drama
...        ...  ...                                    ...
99999      671  ...                   Comedy|Drama|Romance
100000     671  ...                            Documentary
100001     671  ...  Action|Adventure|Sci-Fi|Thriller|IMAX
100002     671  ...                                  Drama
100003     671  ...                                  Drama

[100004 rows x 6 columns]

### 4.2. *Data Cleaning*

In [18]:
# Memeriksa missing values
all_movie_genre.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
title        0
genres       0
dtype: int64

In [19]:
# Menyamakan jenis genre movie
all_movie_genre=all_movie_genre.sort_values('movieId', ascending=True)
all_movie_genre

       userId  ...                                       genres
9713       68  ...  Adventure|Animation|Children|Comedy|Fantasy
35933     261  ...  Adventure|Animation|Children|Comedy|Fantasy
52631     383  ...  Adventure|Animation|Children|Comedy|Fantasy
35983     262  ...  Adventure|Animation|Children|Comedy|Fantasy
12038      77  ...  Adventure|Animation|Children|Comedy|Fantasy
...       ...  ...                                          ...
39546     287  ...                                        Drama
11823      73  ...                                        Drama
92339     611  ...                             Romance|Thriller
92340     611  ...                      Adventure|Drama|Romance
80823     547  ...                                  Documentary

[100004 rows x 6 columns]

In [20]:
len(all_movie_genre.movieId.unique())

9066

In [21]:
all_movie_genre.genres.unique()

array(['Adventure|Animation|Children|Comedy|Fantasy',
       'Adventure|Children|Fantasy', 'Comedy|Romance',
       'Comedy|Drama|Romance', 'Comedy', 'Action|Crime|Thriller',
       'Adventure|Children', 'Action', 'Action|Adventure|Thriller',
       'Comedy|Horror', 'Adventure|Animation|Children', 'Drama',
       'Action|Adventure|Romance', 'Crime|Drama', 'Drama|Romance',
       'Action|Comedy|Crime|Drama|Thriller', 'Comedy|Crime|Thriller',
       'Crime|Drama|Horror|Mystery|Thriller', 'Drama|Sci-Fi',
       'Children|Drama', 'Adventure|Drama|Fantasy|Mystery|Sci-Fi',
       'Mystery|Sci-Fi|Thriller', 'Documentary|IMAX', 'Children|Comedy',
       'Drama|War', 'Action|Crime|Drama', 'Action|Adventure|Fantasy',
       'Comedy|Drama|Thriller', 'Mystery|Thriller',
       'Animation|Children|Drama|Musical|Romance',
       'Crime|Mystery|Thriller', 'Adventure|Drama', 'Drama|Mystery',
       'Drama|Thriller', 'Comedy|Crime', 'Action|Sci-Fi|Thriller',
       'Action|Comedy|Horror|Thriller', 'Comedy|Drama', 'Documentary',
       'Action|Crime|Drama|Thriller', 'Crime|Drama|Romance',
       'Action|Adventure|Drama', 'Action|Thriller',
       'Drama|Horror|Thriller', 'Comedy|Horror|Romance',
       'Adventure|Comedy|Crime|Romance',
       'Adventure|Children|Comedy|Musical', 'Action|Drama|War',
       'Crime|Drama|Thriller', 'Action|Adventure|Comedy|Crime',
       'Drama|Mystery|Romance', 'Thriller', 'Adventure|Drama|IMAX',
       'Action|Drama|Romance|War', 'Drama|Horror', 'Adventure|Drama|War',
       'Comedy|War', 'Crime|Drama|Mystery',
       'Action|Adventure|Mystery|Sci-Fi', 'Drama|Thriller|War',
       'Action|Romance|Western', 'Crime|Film-Noir|Mystery|Thriller',
       'Comedy|Crime|Drama', 'Action|Drama|Romance',
       'Adventure|Children|Drama', 'Action|Adventure|Crime|Thriller',
       'Action|Crime|Sci-Fi', 'Horror', 'Action|Children',
       'Comedy|Horror|Thriller', 'Fantasy|Horror|Mystery',
       'Comedy|Fantasy', 'Horror|Sci-Fi',
       'Action|Crime|Drama|Mystery|Sci-Fi|Thriller',
       'Drama|Musical|Romance', 'Drama|Fantasy',
       'Action|Adventure|Sci-Fi', 'Adventure|Comedy',
       'Action|Comedy|Romance', 'Animation|Children|Comedy|Romance',
       'Drama|Musical', 'Children|Comedy|Fantasy', 'Animation|Children',
       'Comedy|Sci-Fi', 'Adventure|Children|Comedy|Fantasy|Romance',
       'Drama|Fantasy|Romance', 'Drama|Romance|War|Western',
       'Drama|Horror|Sci-Fi', 'Action|Drama|Sci-Fi|Thriller',
       'Comedy|Crime|Drama|Thriller', 'Action|Thriller|Western',
       'Children|Drama|Fantasy|Mystery', 'Action|Drama|Thriller',
       'Comedy|Drama|Fantasy', 'Film-Noir|Thriller',
       'Action|Comedy|Sci-Fi', 'Horror|Thriller',
       'Adventure|Drama|Sci-Fi', 'Action|Crime|Horror', 'Children',
       'Drama|Film-Noir|Romance', 'Drama|Mystery|Thriller',
       'Action|Crime|Fantasy|Thriller', 'Comedy|Drama|Romance|War',
       'Action|Comedy', 'Adventure|Children|Romance',
       'Adventure|Animation|Children|Drama|Musical|IMAX',
       'Drama|Horror|Mystery|Thriller', 'Action|Comedy|Crime|Fantasy',
       'Adventure|Comedy|Western', 'Action|Romance|Thriller',
       'Action|Adventure|Comedy|Romance|Thriller',
       'Drama|Horror|Romance|Thriller', 'Western', 'Drama|Romance|War',
       'Adventure|Animation', 'Action|Fantasy', 'Comedy|Thriller',
       'Action|Comedy|Crime|Thriller', 'Horror|Sci-Fi|Thriller',
       'Drama|Mystery|Romance|Thriller', 'Action|Comedy|Drama',
       'Adventure|Documentary', 'Drama|Western',
       'Action|Adventure|Crime|Drama|Romance|Thriller',
       'Action|Comedy|War', 'Action|Adventure|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Fantasy', 'Comedy|Western',
       'Comedy|Mystery', 'Comedy|Drama|Romance|Thriller',
       'Action|Children|Romance', 'Action|Drama|Sci-Fi', 'Action|Drama',
       'Comedy|Mystery|Romance', 'Action|Drama|Mystery',
       'Action|Crime|Drama|Sci-Fi|Thriller', 'Crime|Thriller',
       'Comedy|Crime|Horror', 'Action|Adventure|Fantasy|Mystery',
       'Comedy|Romance|Thriller', 'Action|Crime',
       'Action|Adventure|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Mystery|Thriller', 'Animation|Children|Fantasy|Musical',
       'Action|Adventure|Comedy|Romance', 'Action|Drama|Western',
       'Action|Adventure|Animation|Children|Fantasy',
       'Comedy|Drama|Fantasy|Romance|Thriller',
       'Adventure|Animation|Children|Comedy|Musical', 'Action|Sci-Fi',
       'Adventure|Drama|Western', 'Crime|Horror|Thriller',
       'Animation|Children|Drama|Fantasy|Musical',
       'Animation|Children|Fantasy|Musical|Romance|IMAX',
       'Adventure|Western', 'Action|Comedy|Crime', 'Fantasy|Horror',
       'Action|Adventure|Animation|Horror|Sci-Fi', 'Action|Horror|Sci-Fi',
       'Crime|Drama|Mystery|Thriller',
       'Adventure|Animation|Children|Fantasy|Musical|Romance', 'Romance',
       'Action|Crime|Drama|War', 'Action|Adventure|Mystery|Thriller',
       'Adventure|Animation|Children|Fantasy|Musical', 'Comedy|Drama|War',
       'Adventure|Animation|Children|Comedy|Fantasy|Sci-Fi',
       'Adventure|Comedy|Sci-Fi', 'Drama|Mystery|Romance|Sci-Fi|Thriller',
       'Crime', 'Action|Adventure|Comedy|War', 'Action|Adventure',
       'Drama|Mystery|Western', 'Comedy|Fantasy|Sci-Fi',
       'Adventure|Animation|Comedy', 'Drama|Fantasy|Horror|Thriller',
       'Action|Adventure|Romance|Thriller', 'Animation|Sci-Fi',
       'Animation|Children|Comedy', 'Film-Noir', 'Horror|Mystery',
       'Comedy|Fantasy|Romance|Sci-Fi', 'Action|Adventure|Drama|Thriller',
       'Comedy|Fantasy|Musical', 'Crime|Drama|Romance|Thriller',
       'Crime|Drama|Musical|Thriller', 'Sci-Fi|Thriller',
       'Children|Drama|Fantasy', 'Adventure|Animation|Children|Musical',
       'Adventure|Drama|Romance|War', 'Comedy|Musical|Romance',
       'Musical|Romance', 'Comedy|Musical',
       'Action|Adventure|Mystery|Romance|Thriller',
       'Comedy|Crime|Mystery|Romance|Thriller', 'Film-Noir|Mystery',
       'Comedy|Drama|Musical|Romance', 'Musical',
       'Adventure|Children|Fantasy|Musical',
       'Drama|Film-Noir|Mystery|Thriller', 'Film-Noir|Romance|Thriller',
       'Mystery|Romance|Thriller', 'Crime|Mystery|Romance|Thriller',
       'Adventure', 'Crime|Film-Noir|Mystery', 'Drama|Romance|Western',
       'Children|Drama|Fantasy|Romance', 'Romance|Western',
       'Adventure|Comedy|Romance|War',
       'Adventure|Comedy|Crime|Drama|Romance', 'Romance|War',
       'Crime|Film-Noir', 'Children|Comedy|Western',
       'Children|Comedy|Fantasy|Romance', 'Children|Comedy|Romance',
       'Children|Comedy|Drama', 'Children|Comedy|Mystery',
       'Animation|Children|Fantasy|Musical|Romance',
       'Animation|Children|Musical', 'Children|Comedy|Fantasy|Musical',
       'Animation|Children|Drama|Musical', 'Adventure|Children|Musical',
       'Animation|Children|Drama', 'Action|Horror|Sci-Fi|Thriller',
       'Documentary|Drama',
       'Animation|Children|Comedy|Fantasy|Musical|Romance',
       'Crime|Film-Noir|Thriller', 'Drama|Romance|Thriller',
       'Children|Drama|Sci-Fi', 'Action|Romance',
       'Adventure|Comedy|Fantasy', 'Animation|Children|Comedy|Crime',
       'Animation|Comedy|Drama|Fantasy', 'Action|Adventure|Horror',
       'Crime|Drama|Film-Noir', 'Documentary|Musical',
       'Action|Adventure|Comedy|Fantasy|Romance', 'Fantasy|Sci-Fi',
       'Action|Adventure|Horror|Sci-Fi', 'Action|Adventure|Western',
       'Crime|Drama|Sci-Fi|Thriller', 'Film-Noir|Mystery|Thriller',
       'Action|Adventure|Comedy|Fantasy|Horror',
       'Adventure|Drama|Romance', 'Crime|Horror', 'Action|Comedy|Musical',
       'Adventure|Animation|Children|Comedy|Sci-Fi',
       'Drama|Mystery|Sci-Fi', 'Comedy|Fantasy|Horror',
       'Crime|Drama|Film-Noir|Thriller', 'Action|Crime|Romance|Thriller',
       'Drama|Sci-Fi|Thriller', 'Action|Adventure|Drama|Western',
       'Comedy|Horror|Sci-Fi', 'Comedy|Musical|War',
       'Action|Comedy|Fantasy|Horror', 'Action|Adventure|Drama|War',
       'Action|Drama|Mystery|Romance|Thriller', 'Comedy|Fantasy|Romance',
       'Crime|Thriller|War', 'Comedy|Mystery|Thriller',
       'Comedy|Drama|Film-Noir', 'Action|Adventure|Animation|Sci-Fi',
       'Action|Western', 'Fantasy|Horror|Romance|Thriller',
       'Drama|Fantasy|Horror', 'Horror|Mystery|Thriller',
       'Adventure|Children|Comedy', 'Adventure|Sci-Fi',
       'Action|Mystery|Sci-Fi', 'Action|Comedy|Western', 'Action|Horror',
       'Action|Comedy|Crime|Drama|Sci-Fi',
       'Adventure|Animation|Comedy|Crime',
       'Comedy|Horror|Mystery|Thriller', 'Action|Romance|War|Western',
       'Comedy|Drama|Fantasy|Romance', 'Action|Adventure|Comedy|Thriller',
       'War', 'Crime|Drama|Fantasy|Film-Noir|Mystery|Romance',
       'Action|Comedy|Crime|Drama', 'Action|Romance|Sci-Fi|Thriller',
       'Comedy|Drama|Mystery|Romance', 'Action|Adventure|Children',
       'Comedy|Crime|Romance', 'Action|Adventure|Comedy',
       'Action|Crime|Romance', 'Action|Adventure|Children|Fantasy',
       'Action|Adventure|Comedy|Sci-Fi',
       'Action|Adventure|Fantasy|Thriller', 'Children|Fantasy',
       'Adventure|Romance', 'Action|Thriller|War',
       'Children|Comedy|Romance|Sci-Fi', 'Comedy|Documentary',
       'Romance|Thriller', 'Comedy|Drama|Sci-Fi',
       'Adventure|Animation|Children|Drama|Musical',
       'Action|Adventure|Drama|Sci-Fi', 'Action|Children|Comedy',
       'Adventure|Film-Noir|Sci-Fi|Thriller',
       'Adventure|Children|Fantasy|Sci-Fi',
       'Crime|Drama|Fantasy|Thriller',
       'Crime|Drama|Mystery|Romance|Thriller',
       'Comedy|Crime|Drama|Mystery|Thriller',
       'Adventure|Children|Comedy|Fantasy', 'Crime|Drama|Romance|War',
       'Adventure|Comedy|Drama', 'Adventure|Comedy|Romance',
       'Adventure|Animation|Children|Comedy|Drama|Musical|Romance',
       'Action|Crime|Mystery|Sci-Fi|Thriller',
       'Comedy|Crime|Drama|Romance|Thriller',
       'Animation|Children|Fantasy|War', 'Comedy|Drama|Musical',
       'Adventure|Fantasy|Musical',
       'Action|Adventure|Children|Comedy|Fantasy',
       'Drama|Mystery|Sci-Fi|Thriller', 'Adventure|Comedy|Sci-Fi|Western',
       'Children|Fantasy|Musical', 'Adventure|Animation|Children|Fantasy',
       'Children|Sci-Fi', 'Children|Comedy|Sci-Fi',
       'Action|Adventure|Children|Comedy',
       'Adventure|Children|Drama|Romance', 'Adventure|Children|Sci-Fi',
       'Action|Animation|Children|Crime',
       'Children|Comedy|Fantasy|Horror',
       'Adventure|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Crime|Drama|Mystery|Thriller', 'Drama|Fantasy|Mystery',
       'Animation|Children|Comedy|Musical',
       'Animation|Children|Comedy|Musical|Romance',
       'Children|Comedy|Musical', 'Children|Musical',
       'Adventure|Comedy|Musical',
       'Adventure|Animation|Children|Crime|Drama',
       'Children|Drama|Fantasy|Mystery|Thriller',
       'Adventure|Children|Fantasy|Western',
       'Animation|Children|Comedy|Drama|Fantasy',
       'Action|Crime|Mystery|Thriller',
       'Adventure|Animation|Children|Drama|Fantasy',
       'Adventure|Animation|Children|Drama', 'Adventure|Fantasy',
       'Adventure|Animation|Children|Comedy',
       'Adventure|Animation|Children|Musical|Western',
       'Adventure|Fantasy|Romance', 'Adventure|Drama|Fantasy',
       'Action|Comedy|Drama|Horror', 'Action|Horror|Thriller',
       'Adventure|Fantasy|Sci-Fi', 'Drama|Film-Noir|Thriller',
       'Adventure|Drama|Mystery|Thriller',
       'Animation|Comedy|Fantasy|Sci-Fi',
       'Horror|Mystery|Sci-Fi|Thriller', 'Drama|Fantasy|Thriller',
       'Adventure|Drama|Fantasy|Romance', 'Sci-Fi',
       'Drama|Fantasy|Mystery|Romance', 'Action|Sci-Fi|War',
       'Fantasy|Horror|Thriller', 'Horror|Western',
       'Action|Adventure|Fantasy|Horror',
       'Adventure|Fantasy|Romance|Sci-Fi|Thriller',
       'Comedy|Crime|Mystery', 'Action|Drama|Romance|Sci-Fi',
       'Animation|Musical', 'Action|Adventure|Thriller|War',
       'Comedy|Crime|Mystery|Thriller',
       'Action|Adventure|Children|Fantasy|Mystery|Thriller',
       'Action|Adventure|Children|Drama',
       'Action|Adventure|Drama|Fantasy|Thriller', 'Horror|Mystery|Sci-Fi',
       'Drama|Horror|Sci-Fi|Thriller', 'Action|Comedy|Romance|Thriller',
       'Action|War', 'Adventure|Comedy|Thriller',
       'Action|Sci-Fi|Thriller|Western', 'Drama|Romance|Sci-Fi|Thriller',
       'Drama|Film-Noir',
       'Action|Adventure|Comedy|Fantasy|Horror|Thriller',
       'Action|Adventure|Crime|Sci-Fi|Thriller',
       'Comedy|Film-Noir|Thriller', 'Horror|Romance',
       'Comedy|Horror|Musical|Sci-Fi', 'Comedy|Romance|Sci-Fi',
       'Animation|Comedy|Musical', 'Action|Comedy|Sci-Fi|Western',
       'Action|Comedy|Fantasy', 'Adventure|Drama|Thriller',
       'Action|Adventure|Comedy|Fantasy|Mystery', 'Comedy|Horror|Musical',
       'Adventure|Animation|Children|Drama|Sci-Fi',
       'Drama|Horror|Mystery', 'Action|Mystery',
       'Comedy|Horror|Romance|Thriller', 'Action|Drama|Romance|Thriller',
       'Animation|Horror|Mystery|Thriller',
       'Adventure|Children|Comedy|Drama', 'Adventure|Sci-Fi|Thriller',
       'Adventure|Animation|Comedy|Fantasy|Musical',
       'Animation|Children|Fantasy', 'Action|Adventure|Comedy|Drama|War',
       'Crime|Drama|Western', 'Drama|Film-Noir|Mystery|Romance',
       'Musical|Romance|War', 'Mystery',
       'Adventure|Comedy|Fantasy|Sci-Fi', 'Drama|Fantasy|Musical',
       'Action|Crime|Sci-Fi|Thriller',
       'Adventure|Animation|Children|Comedy|Crime|Fantasy|Mystery',
       'Action|Adventure|Animation|Drama|Fantasy',
       'Adventure|Animation|Children|Fantasy|Sci-Fi',
       'Fantasy|Horror|Mystery|Romance', 'Crime|Romance|Thriller',
       'Action|Fantasy|Horror|Mystery|Thriller', 'Drama|Romance|Sci-Fi',
       'Animation|Children|Musical|IMAX', 'Action|Comedy|Horror',
       'Action|Crime|Thriller|Western', 'Fantasy|Horror|Mystery|Thriller',
       'Adventure|Crime|Drama|Romance', 'Adventure|Crime|Drama',
       'Animation|Comedy', 'Action|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Children|Fantasy',
       'Action|Adventure|Drama|Thriller|Western',
       'Crime|Horror|Mystery|Thriller', 'Crime|Drama|Musical',
       'Adventure|Children|Fantasy|Musical|Romance',
       'Action|Adventure|Comedy|Western', 'Action|Drama|Thriller|Western',
       'Adventure|Animation|Fantasy|Sci-Fi',
       'Comedy|Horror|Sci-Fi|Thriller', 'Adventure|Drama|Romance|Sci-Fi',
       'Film-Noir|Horror|Mystery|Thriller',
       'Action|Adventure|Animation|Children|Sci-Fi',
       'Action|Fantasy|Horror|Sci-Fi|Thriller',
       'Action|Comedy|Crime|Romance', 'Adventure|Horror|Sci-Fi',
       'Horror|Musical|Thriller', 'Adventure|Animation|Children|Sci-Fi',
       'Adventure|Comedy|Crime', 'Action|Drama|War|Western',
       'Action|Crime|Mystery|Romance|Thriller', 'Romance|Sci-Fi',
       'Action|Crime|Drama|Thriller|Western',
       'Action|Adventure|Fantasy|Sci-Fi', 'Adventure|Comedy|Horror',
       'Animation|Comedy|Fantasy', 'Action|Adventure|War',
       'Action|Crime|Drama|Horror|Thriller', 'Crime|Mystery',
       'Adventure|Comedy|Mystery|Romance',
       'Adventure|Animation|Children|Comedy|Fantasy|Romance',
       'Comedy|Drama|Mystery|Thriller', 'Comedy|Drama|Romance|Western',
       'Adventure|Documentary|IMAX', 'Animation|Drama|Sci-Fi|IMAX',
       'Comedy|Musical|Sci-Fi', 'Drama|Musical|Mystery', 'Crime|Musical',
       'Comedy|Musical|Western',
       'Action|Animation|Comedy|Crime|Drama|Romance|Thriller',
       'Action|Adventure|Drama|Romance',
       'Comedy|Fantasy|Horror|Musical|Thriller',
       'Action|Adventure|Drama|Romance|Thriller',
       'Action|Comedy|Romance|War', 'Action|Adventure|Comedy|Drama',
       'Adventure|Thriller', 'Crime|Drama|Film-Noir|Mystery|Thriller',
       'Animation|Drama|Fantasy', 'Drama|Fantasy|Mystery|Sci-Fi',
       'Drama|Fantasy|Horror|Thriller|War', 'Fantasy|Mystery|Thriller',
       'Action|Adventure|Comedy|Drama|Romance|Thriller',
       'Mystery|Romance|Sci-Fi|Thriller',
       'Adventure|Crime|Drama|Thriller', 'Animation',
       'Comedy|Drama|Mystery',
       'Adventure|Comedy|Crime|Drama|Fantasy|Mystery|Sci-Fi|Thriller',
       'Animation|Fantasy', 'Musical|Sci-Fi',
       'Drama|Fantasy|Horror|Mystery|Thriller',
       'Drama|Fantasy|Mystery|Romance|Thriller',
       'Animation|Fantasy|Horror|Sci-Fi', 'Documentary|War',
       'Musical|Western', 'Action|Adventure|Sci-Fi|IMAX',
       'Crime|Horror|Mystery', 'Adventure|Animation|Children|Western',
       'Adventure|Children|Comedy|Fantasy|Mystery',
       'Adventure|Drama|Horror|Mystery|Thriller',
       'Action|Animation|Children|Comedy', 'Action|Comedy|Horror|Sci-Fi',
       'Comedy|Drama|Fantasy|Sci-Fi', 'Action|Adventure|Fantasy|Romance',
       'Comedy|Crime|Romance|Thriller', 'Adventure|War',
       'Comedy|Crime|Musical|Mystery', 'Adventure|Animation|Fantasy',
       'Animation|Comedy|War', 'Drama|Fantasy|War', 'Animation|Drama|War',
       'Fantasy|Musical|Romance', 'Documentary|Horror',
       'Action|Horror|Mystery|Sci-Fi', 'Action|Comedy|Documentary',
       'Documentary|Drama|Musical',
       'Adventure|Animation|Children|Sci-Fi|IMAX', 'Comedy|Drama|Horror',
       'Animation|Children|Drama|Fantasy', 'Comedy|Crime|Drama|Musical',
       'Action|Adventure|Crime|Drama|Thriller', 'Drama|Film-Noir|Mystery',
       'Comedy|Documentary|Musical', 'Action|Animation|Sci-Fi|Thriller',
       'Adventure|Children|Comedy|Mystery', 'Mystery|Sci-Fi',
       'Adventure|Children|Comedy|Fantasy|Musical',
       'Action|Adventure|Animation|Children|Fantasy|Sci-Fi',
       'Action|Adventure|Sci-Fi|Thriller|IMAX',
       'Action|Drama|Horror|Sci-Fi|Thriller', 'Drama|War|Western',
       'Comedy|Crime|Mystery|Romance', 'Comedy|War|Western',
       'Action|Adventure|Comedy|Crime|Thriller', 'Action|Fantasy|Sci-Fi',
       'Action|Comedy|Thriller', 'Adventure|Comedy|Crime|Thriller',
       'Comedy|Fantasy|Mystery', 'Animation|Drama|Romance',
       'Adventure|Musical', 'Action|Fantasy|Horror',
       'Fantasy|Horror|Sci-Fi|Thriller', 'Comedy|Musical|Romance|Western',
       'Drama|Fantasy|Sci-Fi', 'Children|Comedy|Crime|Musical',
       'Action|Adventure|Animation|Fantasy', 'Crime|Documentary',
       'Comedy|Drama|Musical|Mystery',
       'Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|Thriller',
       'Adventure|Thriller|Western', 'Comedy|Crime|Drama|Mystery|Romance',
       'Action|Crime|Fantasy|Sci-Fi|Thriller', 'Crime|Fantasy|Horror',
       'Action|Adventure|Comedy|Crime|Drama',
       'Comedy|Drama|Mystery|Sci-Fi|Thriller',
       'Action|Drama|Horror|Thriller', 'Comedy|Fantasy|Horror|Thriller',
       'Action|Drama|Romance|Western',
       'Adventure|Animation|Drama|Fantasy|Sci-Fi',
       'Comedy|Crime|Drama|Film-Noir|Musical',
       'Action|Adventure|Drama|Fantasy', 'Comedy|Crime|Drama|Romance',
       'Adventure|Drama|Romance|Thriller|War',
       'Crime|Drama|Film-Noir|Romance|Thriller',
       'Action|Comedy|Crime|Drama|Horror|Thriller',
       'Action|Adventure|Children|Comedy|Mystery',
       'Animation|Children|Comedy|Musical|Western', 'Action|Drama|Horror',
       'Comedy|Crime|Drama|Mystery', 'Comedy|Fantasy|Musical|Romance',
       'Musical|Romance|Western', 'Action|Drama|Thriller|War',
       'Comedy|Crime|Drama|Musical|Mystery|Romance',
       'Adventure|Comedy|War', 'Comedy|Crime|Western',
       'Drama|Fantasy|Horror|Mystery', 'Drama|Thriller|Western',
       'Crime|Horror|Sci-Fi', 'Animation|Fantasy|Thriller',
       'Children|Comedy|Fantasy|Sci-Fi',
       'Action|Adventure|Animation|Comedy|Crime|Mystery',
       'Adventure|Animation|Children|Comedy|Musical|Romance',
       'Action|Adventure|Drama|Sci-Fi|Thriller', 'Adventure|Fantasy|IMAX',
       'Action|Crime|Horror|Mystery|Thriller', 'Comedy|Fantasy|Thriller',
       'Action|Adventure|Drama|Romance|War', 'Comedy|Documentary|Drama',
       'Crime|Drama|Film-Noir|Romance', 'Crime|Drama|Horror',
       'Adventure|Comedy|Fantasy|Musical', 'Adventure|Animation|Drama',

In [22]:
all_movie_genre = all_movie_genre.drop_duplicates('movieId')
all_movie_genre

       userId  ...                                       genres
9713       68  ...  Adventure|Animation|Children|Comedy|Fantasy
97451     654  ...                   Adventure|Children|Fantasy
63773     459  ...                               Comedy|Romance
54673     391  ...                         Comedy|Drama|Romance
16858     110  ...                                       Comedy
...       ...  ...                                          ...
39546     287  ...                                        Drama
11823      73  ...                                        Drama
92339     611  ...                             Romance|Thriller
92340     611  ...                      Adventure|Drama|Romance
80823     547  ...                                  Documentary

[9066 rows x 6 columns]

### 4.3. Data *Transformation*

In [23]:
preparation = all_movie_genre

In [24]:
# mengonversi data series 'movieID' menjadi dalam bentuk list
movies_id = preparation['movieId'].tolist()

# mengonversi data series 'title' menjadi dalam bentuk list
movies_name = preparation['title'].tolist()

# mengonversi data series 'genres' menjadi dalam bentuk list
movies_genre = preparation['genres'].tolist()

print(len(movies_id))
print(len(movies_name))
print(len(movies_genre))

9066
9066
9066

In [25]:
# membuat dictionary untuk data 'movies_id', 'movies_name', dan 'movies_genre'
movies_new = pd.DataFrame({
    'movies_id' : movies_id,
    'movies_name' : movies_name,
    'movies_genre' : movies_genre
})
movies_new

      movies_id  ...                                 movies_genre
0             1  ...  Adventure|Animation|Children|Comedy|Fantasy
1             2  ...                   Adventure|Children|Fantasy
2             3  ...                               Comedy|Romance
3             4  ...                         Comedy|Drama|Romance
4             5  ...                                       Comedy
...         ...  ...                                          ...
9061     161944  ...                                        Drama
9062     162376  ...                                        Drama
9063     162542  ...                             Romance|Thriller
9064     162672  ...                      Adventure|Drama|Romance
9065     163949  ...                                  Documentary

[9066 rows x 3 columns]

## 5. *Model Development* dengan *Content Based Filtering*

In [26]:
data = movies_new
data.head(2)

   movies_id       movies_name                                 movies_genre
0          1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1          2    Jumanji (1995)                   Adventure|Children|Fantasy

### 5.1. TF-IDF Vectorizer

In [27]:
# inisialisasi TfidfVectorizer
tf = TfidfVectorizer()

# melakukan perhitungan idf pada datacuisine
tf.fit(data['movies_genre'])

# Mapping array dari fitur index integer ke fitur utama
tf.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['action',
 'adventure',
 'animation',
 'children',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'fantasy',
 'fi',
 'film',
 'genres',
 'horror',
 'imax',
 'listed',
 'musical',
 'mystery',
 'no',
 'noir',
 'romance',
 'sci',
 'thriller',
 'war',
 'western']

In [28]:
# melakukan fit lalu ditransformasikan ke bentuk matrix
tfidf_matrix = tf.fit_transform(data['movies_genre'])

# melihat ukuran matrix tfidf
tfidf_matrix.shape

(9066, 24)

In [29]:
# megubah vektor tf-idf dalam bentuk matrix dengan fungsi todense()
tfidf_matrix.todense()

matrix([[0.        , 0.41032179, 0.53148344, ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.51028204, 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.69290835, 0.        ,
         0.        ],
        [0.        , 0.68705353, 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ]])

In [30]:
# membuat dataframe untuk melihat tf-idf matrix
# kolom diisi dengan jenis genre
# baris diisi dengan judul movie

pd.DataFrame(
    tfidf_matrix.todense(),
    columns=tf.get_feature_names(),
    index=data.movies_name
).sample(22, axis=1).sample(10, axis=0)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

                                            fi   fantasy  ...  sci     drama
movies_name                                               ...
The Big Bus (1976)                         0.0  0.000000  ...  0.0  0.000000
Juror, The (1996)                          0.0  0.000000  ...  0.0  0.546764
Freakonomics (2010)                        0.0  0.000000  ...  0.0  0.000000
Twister (1996)                             0.0  0.000000  ...  0.0  0.000000
Waste Land (2010)                          0.0  0.000000  ...  0.0  0.000000
Cercle Rouge, Le (Red Circle, The) (1970)  0.0  0.000000  ...  0.0  0.000000
Devil and Max Devlin, The (1981)           0.0  0.874972  ...  0.0  0.000000
Cinderella Story, A (2004)                 0.0  0.000000  ...  0.0  0.000000
Fly, The (Légy, A) (1980)                  0.0  0.000000  ...  0.0  0.000000
He's Just Not That Into You (2009)         0.0  0.000000  ...  0.0  0.453030

[10 rows x 22 columns]

### 5.2. Cosine Similarity

In [31]:
# menghitung cosine similarity pada matrix tf-idf
cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1.        , 0.80410786, 0.15627644, ..., 0.        , 0.28191304,
        0.        ],
       [0.80410786, 1.        , 0.        , ..., 0.        , 0.35059107,
        0.        ],
       [0.15627644, 0.        , 1.        , ..., 0.58385843, 0.49837044,
        0.        ],
       ...,
       [0.        , 0.        , 0.58385843, ..., 1.        , 0.44375798,
        0.        ],
       [0.28191304, 0.35059107, 0.49837044, ..., 0.44375798, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [32]:
# membuat dataframe dari variabel cosine_sim dengan baris dan kolom berupa nama movie
cosine_sim_df = pd.DataFrame(cosine_sim, index=data['movies_name'], columns=data['movies_name'])
print('Shape: ', cosine_sim_df.shape)

# melhat similarity matrix pada setiap movies
cosine_sim_df.sample(5, axis=1).sample(10, axis=0)

Shape:  (9066, 9066)

movies_name                                         Backdraft (1991)  ...  Toxic Avenger Part III: The Last Temptation of Toxie, The (1989)
movies_name                                                           ...
Brady Bunch Movie, The (1995)                               0.000000  ...                                           0.515254
Lolita (1997)                                               0.282644  ...                                           0.000000
Happy Gilmore (1996)                                        0.000000  ...                                           0.515254
4 Little Girls (1997)                                       0.000000  ...                                           0.000000
Malice (1993)                                               0.000000  ...                                           0.000000
Hunted, The (1995)                                          0.846913  ...                                           0.000000
Darfur Now (2007)                                           0.000000  ...                                           0.000000
Jungle Book, The (1967)                                     0.000000  ...                                           0.144617
Sympathy for Mr. Vengeance (Boksuneun naui geot...          0.259182  ...                                           0.000000
Parineeta (2005)                                            0.175430  ...                                           0.000000

[10 rows x 5 columns]

### 5.3. Mendapatkan Rekomendasi

In [33]:
def movies_recommendations(nama_movie, similarity_data=cosine_sim_df, items=data[['movies_name', 'movies_genre']], k=5):
    """
    Rekomendasi Movies berdasarkan kemiripan dataframe
 
    Parameter:
    ---
    nama_movie : tipe data string (str)
                Nama Restoran (index kemiripan dataframe)
    similarity_data : tipe data pd.DataFrame (object)
                      Kesamaan dataframe, simetrik, dengan movies sebagai 
                      indeks dan kolom
    items : tipe data pd.DataFrame (object)
            Mengandung kedua nama dan fitur lainnya yang digunakan untuk mendefinisikan kemiripan
    k : tipe data integer (int)
        Banyaknya jumlah rekomendasi yang diberikan
    ---
 
 
    Pada index ini, kita mengambil k dengan nilai similarity terbesar 
    pada index matrix yang diberikan (i).
    """
 
 
    # Mengambil data dengan menggunakan argpartition untuk melakukan partisi secara tidak langsung sepanjang sumbu yang diberikan    
    # Dataframe diubah menjadi numpy
    # Range(start, stop, step)
    index = similarity_data.loc[:,nama_movie].to_numpy().argpartition(
        range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = similarity_data.columns[index[-1:-(k+2):-1]]
    
    # Drop nama_movie agar nama movie yang dicari tidak muncul dalam daftar rekomendasi
    closest = closest.drop(nama_movie, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

In [34]:
data[data.movies_name.eq('Billy Liar (1963)')]

      movies_id        movies_name movies_genre
3675       4687  Billy Liar (1963)       Comedy

In [35]:
movies_recommendations('Billy Liar (1963)')

                       movies_name movies_genre
0               Bring It On (2000)       Comedy
1            Private School (1983)       Comedy
2  Punk's Dead: SLC Punk! 2 (2014)       Comedy
3           Porky's Revenge (1985)       Comedy
4        Death at a Funeral (2007)       Comedy

In [38]:
rekomendasi_relevan = 5
total_rekomendasi = 5

presisi = (rekomendasi_relevan / total_rekomendasi)
presisi

1.0

Berdasarkan hasil rekomendasi yang muncul, seluruh movie yang disarankan memiliki genre yang sama dengan Billy Liar yaitu komedi sehingga presisi sistem bernilai 5/5 atau 100%.

## 6. Penutup
Pada proyek ini dilakukan pembuatan sistem rekomendasi dengan tipe *content based filtering* menggunakan dataset MovieLens. Pada sistem rekomendasi, fungsi tfidfvectorizer mengidentifikasi representasi penting dari fitur genre movie. Sementara itu, cosine similarity mengidentifikasi derajat kesamaan antar judul movie. Berdasarkan hasil pengembangan model, didapat model sistem rekomendasi yang memberikan saran judul movie dengan genre dan kesukaan pengguna sebelumnya. Metrik evaluasi yang digunakan adalah metrik presisi dengan nilai 1.0 atau 100%.

## 7. Referensi
*Dataset*: [MovieLens (small)](https://www.kaggle.com/sengzhaotoo/movielens-small)